
    <h1>Cocktail {{ this.product['strDrink'] }}</h1>
    <div class="container">
        <div class="row">
          <div class="col" >
            <div class="img">
                <img src="{{ this.product['strDrinkThumb'] }}" alt="{{ this.product['strDrink'] }}">
            </div>
          </div>
          <div class="col">
            <h5>Category:</h5><span> &nbsp;&nbsp; {{this.product['strCategory']}}</span> 
            <br>
            <h5>Cocktail type:</h5><span>&nbsp;&nbsp;{{this.product['strAlcoholic']}}</span> 
            <br>
            <h5>Ingredients:</h5>
            <ul>
                <li>{{this.product['strIngredient1']}}</li>
                <li>{{this.product['strIngredient2']}}</li>
                <li>{{this.product['strIngredient3']}}</li>
                <li>{{this.product['strIngredient4']}}</li>
                <li>{{this.product['strIngredient5']}}</li>
                <li>{{this.product['strIngredient6']}}</li>
                <li>{{this.product['strIngredient7']}}</li>
                <li>{{this.product['strIngredient8']}}</li>
                <li>{{this.product['strIngredient9']}}</li>
                <li>{{this.product['strIngredient10']}}</li>
                <li>{{this.product['strIngredient11']}}</li>
                <li>{{this.product['strIngredient12']}}</li>
                <li>{{this.product['strIngredient13']}}</li>
                <li>{{this.product['strIngredient14']}}</li>
                <li>{{this.product['strIngredient15']}}</li>
            </ul>
          </div>

    
    
    


<h4>Preparation:</h4>
<p>{{ this.product["strInstructions"] }}</p>


