<app-header></app-header>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="this.api.cellSize==false">
        <br><br>
      </div>
      <h3 class="font-weight-bold text-center">{{ this.product["strDrink"] }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 img">
      <img mat-card-image src="{{ this.product['strDrinkThumb'] }}" alt="{{ this.product['strDrink'] }}" class="img-thumbnail rounded mx-auto d-block">
    </div>
    <div class="col-md-7">
      <h5>Category:</h5>
      <p> {{ this.product["strCategory"] }}</p>
      <h5>Cocktail type:</h5>
      <p>{{ this.product["strAlcoholic"] }}</p>
      <h5>Ingredients:</h5>
      <ol>
        <li *ngIf="isIngredent(this.product['strIngredient1'])">
          {{ this.product["strIngredient1"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient2'])">
          {{ this.product["strIngredient2"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient3'])">
          {{ this.product["strIngredient3"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient4'])">
          {{ this.product["strIngredient4"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient5'])">
          {{ this.product["strIngredient5"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient6'])">
          {{ this.product["strIngredient6"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient7'])">
          {{ this.product["strIngredient7"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient8'])">
          {{ this.product["strIngredient8"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient9'])">
          {{ this.product["strIngredient9"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient10'])">
          {{ this.product["strIngredient10"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient11'])">
          {{ this.product["strIngredient11"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient12'])">
          {{ this.product["strIngredient12"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient13'])">
          {{ this.product["strIngredient13"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient14'])">
          {{ this.product["strIngredient14"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient15'])">
          {{ this.product["strIngredient15"] }}
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br>
      <h4 class="text-center">Preparation</h4>
      <p class="text-center p">{{ this.product["strInstructions"] }}</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
