<app-header></app-header>
<br><br>
<h1>Cocktail {{ this.product["strDrink"] }}</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="img">
        <img
          src="{{ this.product['strDrinkThumb'] }}"
          alt="{{ this.product['strDrink'] }}"
        />
      </div>
    </div>
    <div class="col">
      <h5>Category:</h5>
      <span> &nbsp;&nbsp; {{ this.product["strCategory"] }}</span>
      <br />
      <h5>Cocktail type:</h5>
      <span>&nbsp;&nbsp;{{ this.product["strAlcoholic"] }}</span>
      <br />
      <h5>Ingredients:</h5>
      <ol>
        <li *ngIf="isIngredent(this.product['strIngredient1'])">
          {{ this.product["strIngredient1"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient2'])">
          {{ this.product["strIngredient2"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient3'])">
          {{ this.product["strIngredient3"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient4'])">
          {{ this.product["strIngredient4"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient5'])">
          {{ this.product["strIngredient5"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient6'])">
          {{ this.product["strIngredient6"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient7'])">
          {{ this.product["strIngredient7"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient8'])">
          {{ this.product["strIngredient8"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient9'])">
          {{ this.product["strIngredient9"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient10'])">
          {{ this.product["strIngredient10"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient11'])">
          {{ this.product["strIngredient11"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient12'])">
          {{ this.product["strIngredient12"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient13'])">
          {{ this.product["strIngredient13"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient14'])">
          {{ this.product["strIngredient14"] }}
        </li>
        <li *ngIf="isIngredent(this.product['strIngredient15'])">
          {{ this.product["strIngredient15"] }}
        </li>
      </ol>
    </div>

    <h4>Preparation:</h4>
    <p>{{ this.product["strInstructions"] }}</p>
  </div>
</div>
<app-footer></app-footer>
