<div class="container-fluid">
  <div class="row">
    <div class="col">
      <button mat-icon-button class="text-primary" (click)="goOldpage()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <nav class="navbar col-md-12 col-sm-12">

        <a (click)="goToDashBoard()">Home</a>
        <a (click)="goToProductByCategory()">Category</a>
        <a (click)="goToProductByAlcoholic()">Alcoholic</a>
        <a (click)="goToProductByGlass()">By Glass</a>
        <a (click)="goToProductByName()">By Name</a>
      </nav>
    </div>
    <div class="col col-img-text img">
      <a (click)="goToDashBoard()"><img src="../../../assets/logo.png" width="100px" ></a>
    </div>
    <div class="col col-img-text">
        <div class="rounded-circle">
          <strong>{{ api.userName[0] }}</strong> 
        </div>

        <div  class="d-inline-flex p-1">
          {{ api.userName }}
        </div>
    </div>
  </div>
</div>
