.container-fluid{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgb(15, 17, 44);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  padding: 0;
  margin: 0;
}

.col{
  display: flex;
}

a{
  margin-left: 0.2rem;
  text-decoration: none;
  cursor: pointer;
}

.navbar a:hover{
  color: blueviolet;
  
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: auto;
}

.mat-icon-button{
  background-color: rgb(15, 17, 44);
}

.col-img-text{
  display: flex;
  justify-content: right;
  margin-top: 0.2rem;
  margin-right: 1rem;
}

.img{
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 0.4rem;
}

.rounded-circle{
  width: 2rem;
  height: 2rem;
  background-color: rgba(17, 36, 70, 0.712);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.1rem;
  padding: 3px;
  border: 2px solid rgb(56, 176, 206);
  
}
