<app-header></app-header>
<div class="show-container">
  <div class="show-categories">
    <div class="col-sm-10">
      <select class="form-control" name="categoryValues" (change)="changeCategoryProducts($event)">
        <option>Select Category</option>

        <option [value]="category.strAlcoholic" *ngFor="let category of categories">
          {{ category.strAlcoholic }}
        </option>
      </select>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off"
      (click)="newProduct()">
      Search
    </button>
  </div>

  <!--<div class="show-products">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <th scope="row">{{ product.idDrink }}</th>
          <td>{{ product.strDrink }}</td>
          <td>
            <img class="img-size" src="{{ product.strDrinkThumb }}" alt="img" />
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->

  <br>


  <div class="show-products" style="margin-left: 15rem">
    <mat-card class="example-card border border-dark" *ngFor="let product of products">
      <mat-card-header>

        <mat-card-title class="text">{{ product.idDrink }}</mat-card-title>
        <mat-card-subtitle class="text"> <strong>{{ product.strDrink }}</strong></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{ product.strDrinkThumb }}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{ product.strInstructions }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="btn btn-outline-dark " style="margin-left: 28%;" (click)="verCocktel(product.idDrink)">Ver</button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>

<br>
<br>
<br>
<app-footer></app-footer>