<app-header></app-header>

<br><br>
<div class="container-fluid" style="text-align: center;">
  <div class="row">
    <div class="col-ms-8 col-md-9 d-inline-flex p-3">
      <select class="form-control" name="categoryValues" (change)="changeCategoryProducts($event)">
        <option>Select Category</option>

        <option [value]="category.strCategory" *ngFor="let category of categories">
          {{ category.strCategory }}
        </option>
      </select>
    </div>
    <div class="col-ms-4 col-md-3 d-inline-flex p-3">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off"
        (click)="newProduct()" style="height: 38px;">
        Search
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-cards">
      <mat-card class="example-card border border-info" *ngFor="let product of products">
        <mat-card-header>
  
          <mat-card-title class="text">{{ product.idDrink }}</mat-card-title>
          <mat-card-subtitle class="text"> <h6><strong>{{ product.strDrink.substring(0, 18) }}...</strong></h6></mat-card-subtitle>
        </mat-card-header>
       
        <img mat-card-image src="{{ product.strDrinkThumb }}" alt="..." class="img-thumbnail">
        <mat-card-content>
          <p>
            {{ product.strInstructions }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button type="button" mat-button class="verButton btn btn-lg btn-outline-info border border-info p-0" (click)="verCocktel(product.idDrink)"> Ver</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>



<br>
<br>
<br>
<app-footer></app-footer>