.img-thumbnail{
  width: 15rem;
  margin: 0 auto;
}
.example-card {
  display: inline-block;
  align-content: center;
  align-items: center;
  width: 15rem;
  margin: 0.5rem;
}

mat-card-actions{
  text-align: center;
}
.col-cards{
  text-align: center
}
.form-control{
  align-content: right;
}
.btn-lg{
  margin-left: 0;
  padding-top: 0;
}