@media (min-width: 786px) {
  .carousel-container {
    max-height: 60rem;
    max-width: 60rem;
    margin: 0rem auto;
    background-color: white;
  }
}

@media (min-width: 1900px) {
  .carousel-container {
    max-height: 100rem;
    max-width: 120rem;
    margin: 0rem auto;
    background-color: white;
  }
}

.example-card {
  max-width: 400px;
  margin-bottom: 8px;

}
.example-card {
  width: 20%;
  display:inline-block;
  margin: 0.5rem;
}
.mat-card-image{
  border-radius: 15px;
}

mat-card-title{
  font-size: 1rem;
  text-align: left;
}

mat-card-subtitle{
  font-size: 1rem;
  text-align: center;
}