<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/gd.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm">
      <input
        type="text"
        id="login"
        class="fadeIn second"
        formControlName="username"
        placeholder="login"
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        formControlName="password"
        placeholder="password"
      />
      <input
        type="submit"
        class="fadeIn fourth"
        value="Log In"
        (click)="goToDashBoard()"
      />
    </form>

    <div class="or-container"><div class="line-separator"></div> <div class="or-label">or</div><div class="line-separator"></div></div>
    
    <div class="row">
      <div class="col-md-12">
        <button role="button" class="btn btn-lg btn-google btn-block btn-outline" (click)="signIn()"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Log In Using Google</button>

      </div>
    </div>
    <br>

  </div>
</div>
